.chatroom-list {
  height: 90%;
  width: 30%;
}

.navbar-brand {
    font-size: 24px !important;
    font-family: monospace;
}

.nav-item
{
    font-size: 20px !important;
}

.container {
    border: 1px solid black;
    left: 50%;
    top: 50%;
    teansform: (-50%, -50%);
}


footer
{
    text-decoration: none !important;
    color: grey !important;
    font-size: 18px;
    text-align: center;
    margin: 20px;
}

/*Hower Over Effect*/
.button
{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover
{
    background-color: none;
    color: rgb(120,81,169);
}
