style="background-image: url( {{ url_for('static', filename='images/people5.png') }} )"

<body  style="background-image: url({{ url_for('static', filename='images/people2.png') }})">


    <!-- TODO: Nav bar for brand and user details dropdown -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
        <a class="navbar-brand" href="#"> Flack </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class=" nav-item nav-link dropdown-toggle mr-3" href="{{ url_for('create_user') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ url_for('static', filename='icons/icons8-user-100.png') }}" alt=""></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('avatar_view', name=username)}}">Profile</a>
                    <a class="dropdown-item" href="#"></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Create Avatar</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container container-fluid mt-4">
        <div class="row ml-2 mr-auto mt-2">

            </div>
        </div>

        # if username not in User_Names:
        # 	User_Names.append(username)
        #
        # else:
        # 	return render_template("error.html", message="Already a User in our records!")


        # @app.route("/create_room")
        # def create_room():
        # 	try:
        # 		room_name = str(request.form.get("room_name"))
        # 	except KeyError:
        # 		return "Enter a valid name for chat room!"
        #
        # 	if room_name in Chat_Rooms:
        # 		return "Room name already taken!"
        #
        # 	else:
        # 		Channels.append(room_name)
        #
        # 	return render_template("chat_window.html", channels=Channels)
        #
        #
    
        #
        #
        # # various User details
        # @app.route("/avatar_view/<string: name>", methods=["GET", "POST"])
        # def avatar_view(name):
        # 	return render_template("profile.html", name=name)
        #
        #
        # @app.route("/", methods=["GET", "POST"])
        # def ():

        onst request = new XMLHttpRequest();
        request.open('GET', `/${channel}`);

        request.onload = () => {
            const response = request.responseText;;
            document.querySelector('#channel')
