<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#"> Flack </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-4 ml-auto">
            <form id="create_new_user" class="form-inline my-2 my-lg-2" action="{{ url_for('create_user') }}"
                method="post">
                <input id="username" class="form-control mr-sm-2" type="text" name="username" autocomplete="off"
                    placeholder="Avatar Name" aria-label="Search" size="30">
                <input class="form-control btn btn-outline-info my-2 my-sm-0" type="submit" value="Create Avatar">
            </form>
        </div>
    </div>
</nav>

href="{{ url_for('create_user') }}"
href="{{ url_for('avatar_view', name=username)}}"

socket.emit('view_channel', {'selection': selection});

<body style="background-image: url( {{ url_for('static', filename='images/people5.png') }} )">

    <div class="container container-fluid mt-4">
        <div class="row ml-2 mr-auto mt-2">

            </div>
        </div>

        <div class="card">
                        <div class="card-body">
                            <!-- Message Text -->
                        </div>
                        <div class="card-footer">
                            <!-- Timestamp -->
                        </div>
                    </div>

       

        
