{% extends "layout.html" %}

{% block head %}
    <script src = "{{ url_for ('static', filename = 'styles/js/chat_window.js') }}" charset="utf-8"></script>
{% endblock %}

{% block body %}
    
        <!-- TODO: Nav bar for brand and user details dropdown -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
            <a class="navbar-brand" href="#"> Flack </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class=" nav-item nav-link dropdown-toggle mr-3" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ url_for('static', filename='icons/icons8-user-100.png') }}" alt=""></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" >Profile</a>
                        <a class="dropdown-item" href="#"></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Create Avatar</a>
                    </div>
                </div>
            </div>
        </nav>

    <div class="container container-fluid mt-2 mb-2">
        <div class = "modal-body row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-8 col-8 channel-list-window text-center mt-3">
                <form id="form_create_channel" class="form-inline ml-2 mt-2 mb-auto mr-auto">
                    <input id="channel_name" class="form-control" type="text" name="channel_name" autocomplete="off" autofocus placeholder="Channel Name" required/>
                    <button class="create_channel btn btn-outline-primary form-control ml-3"> Create </button>
                </form>
                <ul id="channels-list">
                </ul>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-8 col-8 chat-room-window text-center mt-4">
                <div class="fixed-sticky">
                    <form id="form_new_msg" class="form-inline mr-2 mb-2 mt-2 ml-auto">
                        <input id="message_text" class="form-control" type="text" name="text_message" autocomplete="off" autofocus placeholder="Type a message" required/>
                        <button class="new_msg form-control btn btn-outline-warning ml-3">Send</button>
                    </form>
                </div>

                <ul id="messages-list">
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
