{% extends "layout.html" %}

{% block head %}
    <script src = "{{ url_for ('static', filename = 'styles/js/chat_window.js') }}" charset="utf-8"></script>
{% endblock %}

{% block body %}

        {% for channel in channels %}
            <li>{{ channel }}</li>
        {% endfor %}

        <div class="container container-fluid mt-4">
            <div class="row ml-2 mr-auto mt-2">
                    <form id="form_create_channel" class="form-control">
                        <input id="channel_name" class="form-control" type="text" name="channel_name" autocomplete="off" autofocus placeholder="Channel Name">
                        <button class="create_channel btn btn-outline-primary form-control l-sm-2">Create</button>
                    </form>
                    <ul id="channels-list">
                        {% for channel in channels %}
                            <li>{{ channel }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row ml-auto mr-2 mb-2">
                    <ul id="messages-list">
                    </ul>
                    <!-- <div class="fixed-bottom"> -->
                        <form id="form_new_msg">
                            <input id="message_text" type="text" name="text_message" autocomplete="off" autofocus placeholder="Type a message">
                            <button class="new_msg btn btn-outline-warning">Send</button>
                        </form>
                    <!-- </div> -->
                </div>
            </div>
        </div>

{% endblock %}
