{% extends "layout.html" %}

{% block head %}
    <script src = "{{ url_for ('static', filename = 'styles/js/chat_window.js') }}" charset="utf-8"></script>
{% endblock %}

{% block body %}

        <!-- TODO: Nav bar for brand and user details dropdown -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
            <a class="navbar-brand" href="#"> Flack </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class=" nav-item nav-link dropdown-toggle mr-3" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ url_for('static', filename='icons/icons8-user-100.png') }}" alt=""></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" >Profile</a>
                        <a class="dropdown-item" href="#"></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Create Avatar</a>
                    </div>
                </div>
            </div>
        </nav>

    <div class="container container-fluid mt-2 mb-2">
        <div class = "row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-8 col-8 channel-list-window text-center mt-3">
                <form id="form_create_channel" class="form-inline ml-2 mt-2 mb-auto mr-auto">
                    <input id="channel_name" class="form-control" type="text" name="channel_name" autocomplete="off" autofocus placeholder="Channel Name" required/>
                    <button class="create_channel btn btn-outline-primary form-control ml-3"> Create </button>
                </form>
                <ul id="channels-list">
                    <div class='demoScroll sc3'>
                        <div class='h600'></div>
                    </div>
                    {% for channel in channels %}
                        <li> {{ channel }} </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-8 col-6 chat-room-window text-center mt-4">
                <div class="card mt-3">
                    <div class="card-header form-inline">
                        <h4 id="chat-room-name"></h4>
                        <div id="clear_chat_history" class="mr-2 ml-auto">
                            <svg class="bi bi-trash" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </div>
                    </div>

                    <div class="card-body">
                        <ul id="messages-list">
                            <div class="card"> 
                                {% for message in messages %}
                                    <div clas="card-body">
                                        <li>{{ message }}</li>
                                    </div>
                                    <div class="card-footer">
                                        {{ username }}
                                    </div>
                                {% endfor %}
                            </div>
                        </ul>
                    </div>

                    <div class="card-footer">
                        <form id="form_new_msg" class="form-inline mr-2 mb-2 mt-2 ml-auto">
                            <input id="message_text" class="form-control rounded-pill" type="text" name="text_message" autocomplete="off" autofocus placeholder="Type a message" size="40" required/>
                            <button class="new_msg form-control btn btn-outline-warning rounded-circle ml-2">
                                <svg class="bi bi-chevron-double-right" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </button>
                        </form>
                        <i class="fa fa-microphone fa-2x ml-3"></i> 
                    </div>
                    <audio class="sound" src="{{ url_for('static', filename = 'sounds/chime.mp3') }}"></audio> 
                </div>
            </div>
        </div>
    </div>

{% endblock %}
