{% extends "layout.html" %}

{% block head %}
    <script src="{{ url_for ('static', filename = 'styles/js/cubical.js') }}" charset="utf-8"></script>
{% endblock %}

{% block body %}
        <!-- TODO: Nav bar for brand and user details dropdown -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
            <a class="navbar-brand" href="#"> Flack </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class=" nav-item nav-link dropdown-toggle mr-3" href="{{ url_for('create_user') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ url_for('static', filename='icons/icons8-user-100.png') }}" alt=""></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('avatar_view', name=username)}}">Profile</a>
                        <a class="dropdown-item" href="#"></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Create Avatar</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container container-fluid mt-4">
            <div class="row justify-content-center ml-2 mr-auto mt-2">
                <div class="col-lg-4 col-md-5 col-sm-6 col-8 ">
                    <form id="form_create_channel">
                        <input id="channel_name" type="text" name="channel_name" autocomplete="off" autofocus placeholder="Channel Name">
                        <button class="create_channel btn btn-outline-primary ml-sm-2">Create</button>
                    </form>
                    <ul id="channels-list">
                        {% for channel in channels %}
                            <li>{{ channel }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center ml-auto mr-2 mb-2">
                <div class="col-lg-4 col-md-5 col-sm-6 col-8 ">
                    <ul id="messages-list">
                    </ul>
                    <div class="fixed-bottom">
                        <form id="form_new_msg">
                            <input id="message_text" type="text" name="text_message" autocomplete="off" autofocus placeholder="Type a message">
                            <button class="new_msg btn btn-outline-warning">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
